{% extends 'base.html.twig' %}

{% block title %}QUIZS{% endblock %}

{% block body %}
    <!-- Page-header start -->
    <div class="page-header">
        <div class="row align-items-end">
            <div class="col-lg-6">
                <div class="page-header-title">
                    <div class="d-inline">
                        <h4>Quizs</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">

                <div class="page-header-breadcrumb">
                    <ul class="breadcrumb-title">

                        <li class="breadcrumb-item"  style="float: left;">
                            <a href="{{ path('home')}}">  <i class="feather icon-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item"  style="float: left;"><a href="#!">Quizs</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page-header end -->

    <!-- Page body start -->
    <!-- Page body start -->
    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">
                <!-- Bootstrap tab card start -->
                <div >

                    <div class="col-md-12">

                        <button class="btn btn-primary float-right"  onclick="add_quiz()" style="position: relative; z-index: 9;"><i class="fa fa-plus" aria-hidden="true"></i>
                            Add Quiz</button>

                    </div>
                    <!-- Insert this where you want the table to appear -->
                    <div id="presidents">Loading...</div>

                </div></div></div></div>


    <style>

        #presidents{

        }
        .dataTables_scrollHeadInner{

        }
        .sorting{

        }
        thead  tr  {
            height: 0px !important;
        }
        thead  tr  th  {
            border: none !important;
        }
        .md-tabs .nav-item {
            width: calc(100% / 9) !important;
            text-align: center;
        }

        .md-tabs .nav-item {
            width: calc(100% / 9) !important;
            text-align: center;
        }

        @media screen and (max-width: 992px) {
            .md-tabs .nav-item {
                float: left;
                width: calc(100% / 9) !important;
                text-align: center;
                z-index: 9999;
            }
        }
        .nav-tabs .slide {
            background: #01a9ac;
            width: calc(100% / 9) !important;
            height: 4px;
            position: absolute;
            -webkit-transition: left 0.3s ease-out;
            transition: left 0.3s ease-out;
            bottom: 0;
        }

        table.dataTable td, table.dataTable th {
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
            max-width: 300px;
        }



        element.style {
        }
        div.dataTables_scrollBody table tbody tr:first-child th, div.dataTables_scrollBody table tbody tr:first-child td {
            border-top: none;
        }
        table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
            border-bottom-width: 0;
        }
        table.table-bordered.dataTable th, table.table-bordered.dataTable td {
            border-left-width: 0;
        }
        table.dataTable td, table.dataTable th {
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
        }
        table.dataTable td, table.dataTable th {
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
            max-width: 300px;
        }
        .table-bordered td, .table-bordered th {
            border: 1px solid #dee2e6;
        }
        .table td, .table th {
            padding: .75rem;
            vertical-align: top;
            white-space: normal;
            border-top: 1px solid #dee2e6;
        }
        table.table-bordered.dataTable th {
            border-left-width: 0;
            font-size: 11px;
        }
        .hidden{
            display: none !important;
        }

        element.style {
            left: 24.4px;
            top: 189px;
        }
        .morris-hover {
            position: absolute;
            min-width: 100px;
            width: 300px !important;
            right: 0;
            background: transparent;
            padding: 20px;
            font-weight: bold;
            z-index: 99999999999;
            border: none;
        }
    </style>

    <!-- Insert this at the end of your body element, but before the closing tag -->
    {% block scripttab %}
        <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
        <script>
            $(function() {
                $('#presidents').removeAttr('width').initDataTables({{ datatable_settings(datatable) }}, {
                    searching: true,
                    scrollX: true,
                    columnDefs: [
                        { width: 250, targets:1}
                    ],
                    fixedColumns: true,
                    autoWidth:false
                }).then(function(dt) {
                    ;
                })
            });
        </script>

        <script>
            function add_quiz() {
                url='{{ path('add_quiz') }}';
                $('#corps_modal').load(url);
                $('#myModal').modal();

            }
            function edit_quiz(id) {
                url='{{  path('edit_quiz', {'id': ':id'}) }}';
                url=url.replace(":id", id);
                $('#corps_modal').html('');
                $('#corps_modal').load(url);
                $('#myModal').modal();
                ;
            }
        </script>

        <script>
            function delete_quiz(id) {
                Lobibox.confirm({
                    msg: "Are you sure you want to delete this quiz?",
                    callback: function ($this, type) {
                        if (type === 'yes') {

                            var formData = new FormData(); // Formulaire vide à cet instant
                            formData.append('id',id);

                            $.ajax({
                                url: "{{ path('delete_quiz') }}",
                                data : formData,
                                type:"post",
                                contentType:false,
                                processData:false,
                                cache:false,

                                error:function(err){
                                    console.error(err);
                                },
                                success:function(data){

                                    Lobibox.notify('success', {
                                        size: 'mini',
                                        position: "top right",
                                        title: '',
                                        msg: 'The recording has been successfully deleted.'
                                    });

                                    $('#presidents').initDataTables({"name":"dt","method":"POST","state":"fragment" }, {
                                        searching: true,
                                        processing: true,
                                        serverSide: true,
                                        Start: 2,
                                        ordering: false,
                                        searchDelay: 200,
                                        dom: 'Bfrtip',
                                        buttons: [
                                            {
                                                text: 'Réinitialiser',
                                                action: function (e, dt, node, config) {
                                                    location.reload();
                                                }
                                            }
                                        ],
                                    }).then(function(dt) {


                                        dt.on('draw', function() {
                                        })
                                    });

                                },
                                complete:function(){
                                    console.log("Request finished.");


                                }
                            });



                        }
                    }
                });
            }
        </script>
    {% endblock %}
    </div>
{% endblock %}
