<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Add User</h4>
        <button type="button" class="close"
                data-dismiss="modal"
                aria-hidden="true">×</button>
    </div>
    <div class="container"></div>
    <div class="modal-body">

        <div class="card-block">


    <form id="form">

        {{ form_errors(form) }}
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">

                    <div class="picture-container">
                        <div class="picture">
                            <img src="{{  asset('images/avatar.jpg')}}" alt="no_image"  class="picture-src" id="wizardPicturePreview" title="">


                            <input type="file" id="picture" name="picture" required="required">

                        </div>
                        <h6 class="">Choose Picture</h6>


                    </div>




                    <style>
                        /*Profile Pic Start*/
                        .picture-container{
                            position: relative;
                            cursor: pointer;
                            text-align: center;
                        }
                        .picture{
                            width: 140px;
                            height: 140px;
                            background-color: #999999;
                            border: 4px solid #CCCCCC;
                            color: #FFFFFF;
                            border-radius: 50%;
                            margin: 0px auto;
                            overflow: hidden;
                            transition: all 0.2s;
                            -webkit-transition: all 0.2s;
                        }
                        .picture:hover{
                            border-color: #2ca8ff;
                        }
                        .content.ct-wizard-green .picture:hover{
                            border-color: #05ae0e;
                        }
                        .content.ct-wizard-blue .picture:hover{
                            border-color: #3472f7;
                        }
                        .content.ct-wizard-orange .picture:hover{
                            border-color: #ff9500;
                        }
                        .content.ct-wizard-red .picture:hover{
                            border-color: #ff3b30;
                        }
                        .picture input[type="file"] {
                            cursor: pointer;
                            display: block;
                            height: 100%;
                            left: 0;
                            opacity: 0 !important;
                            position: absolute;
                            top: 0;
                            width: 100%;
                        }

                        .picture-src{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;

                        }
                    </style>


                    <script>

                        $(document).ready(function(){
// Prepare the preview for profile picture
                            $("#picture").change(function(){
                                readURL(this);
                            });
                        });
                        function readURL(input) {
                            if (input.files && input.files[0]) {
                                var reader = new FileReader();

                                reader.onload = function (e) {
                                    $('#wizardPicturePreview').attr('src', e.target.result).fadeIn('slow');
                                }
                                reader.readAsDataURL(input.files[0]);
                            }
                        }
                    </script>


                </div>
            </div>

            <div class="col-sm-6">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>First Name <span class="text-danger">*</span></label>


                        {{ form_widget(form.first_name, {
                            'attr': {'placeholder': '', 'class':'form-control'}
                        }) }}


                        <span class="text-danger form-error" id="error_first_name"></span>

                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Last Name <span class="text-danger">*</span></label>
                        {{ form_widget(form.last_name, {
                            'attr': {'placeholder': '', 'class':'form-control'}
                        }) }}

                        <span class="text-danger form-error" id="error_last_name"></span>

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Email <span class="text-danger">*</span></label>
                    {{ form_widget(form.email, {
                        'name':'email',
                        'attr': {'placeholder': '', 'class':'form-control','name':'email'}
                    }) }}

                    <span class="text-danger form-error" id="error_email"></span>

                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label>Role <span class="text-danger">*</span></label>
                    {{ form_widget(form.roles, {
                        'attr': {'placeholder': '', 'class':'form-control'}
                    }) }}

                    <span class="text-danger form-error" id="error_roles"></span>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Password <span class="text-danger">*</span></label>
                    {{ form_widget(form.password.first, {
                        'attr': {'placeholder': '', 'class':'form-control'}
                    }) }}

                    <span class="text-danger form-error" id="error_password"></span>

                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label>Password <span class="text-danger">*</span></label>
                    {{ form_widget(form.password.second, {
                        'attr': {'placeholder': '', 'class':'form-control'}
                    }) }}
                </div>
            </div>





        {{ form_row(form._token) }}


    </form>

</div>

    </div>

    <div class="modal-footer"> <a href="#"
                                  data-dismiss="modal"
                                  class="btn">Close</a>
        <a href="#" class="btn btn-primary" onclick="save_user()">Save
            changes</a>
    </div>
<!-- /Add User Modal -->
<div class="overlay2"></div>
</div>
{% block script %}

    <script>


        function save_user(){

            $(".overlay2").show();
            $(".form-error").html('');
            $('input').removeClass('input_error');
            var form = document.getElementById("form");
// or with jQuery
//var form = $("#myform")[0];

            $.ajax({
                url: "{{ path('save_user') }}",
                data: new FormData(form),// the formData function is available in almost all new browsers.
                type:"post",
                contentType:false,
                processData:false,
                cache:false,
                dataType:"json", // Change this according to your response from the server.
                error:function(err){
                    $(".overlay2").hide();
                    console.error(err);
                },
                success:function(data){
                    $(".overlay2").hide();
                    console.log(data);
                    response=data;
                    if(response.result==0){
                        console.log(response);

                        for (var key in response.data) {

                            $("#error_"+key).html('<span class="form-error-icon badge badge-danger text-uppercase">Error</span>'+response.data[key]+'');
                            $("#"+key).addClass('input_error');
                            if(jQuery.type(response.data[key])=='object') {
                                for (var key2 in response.data[key]) {
                                    //alert(response.data[key][key2]);
                                    $("#error_"+key).html('<span class="form-error-icon badge badge-danger text-uppercase">Error</span>'+response.data[key][key2]+'');



                                }

                            }
                        }
                    }else {
                        $('#myModal').modal('hide');
                        Lobibox.notify('success', {
                            soundPath: '{{ asset("sounds/") }}',
                            size: 'mini',
                            position: "top right",
                            title: '',
                            msg: 'The recording has been successfully added.'
                        });



                        $('#presidents').initDataTables({"name": "dt", "method": "POST", "state": "fragment"}, {
                            searching: true,
                        }).then(function (dt) {
                        });
                    }

               },
                            // dt contains the initialized instance of DataTables

                complete:function(){
                    $(".overlay2").hide();
                    console.log("Request finished.");


                }
            });



        }


    </script>
{% endblock %}
